@charset "utf-8";

.container {
  width: min(100% - 32px, 1200px);
  margin-inline: auto;
}

body {
  font-family: 'Nunito Sans', Arial, Helvetica, sans-serif;
  background-color: #121212;
  color: #e0e0e0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.calculator-body {
  background-color: #1e1e1e;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  text-align: center;
}

h1 {
  margin-bottom: 20px;
  color: #ffffff;
}

label {
  display: block;
  margin: 10px 0 5px;
  color: #b0b0b0;
}

input {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 20px;
  border: 2px solid #444;
  border-radius: 5px;
  background-color: #2c2c2c;
  color: #e0e0e0;
  transition: all 0.25s ease-in-out;
}

input:focus {
  border-color: #818181;
}

input.error {
  border-color: #ff3939;
}

button {
  padding: 10px 20px;
  background-color: #27a027;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #38b838;
}

.result {
  margin-top: 20px;
  text-align: left;
}

.result p {
  font-size: 1.2rem;
  margin: 5px 0;
  color: #e0e0e0;
}

.result p.amount-per-person, .result p.per-person {
  font-size: 1.6rem;
  font-weight: 500;
  color: #27a027;
}

.result p.total-amount {
  padding: 10px;
  border-radius: 4px;
  text-align: center;
}